$font-family-sans-serif: 'Fira Sans', 'Nunito', 'Roboto', sans-serif;

$primary: #6b8994;
$secondary: #a2b5be;
$danger: #ec2a21;

$light: #d6d6d6;
$dark: #383838;

$body-bg: #f2f2f2;
$gray-200: #d6d6d6;

$navbar-dark-color: #f2f2f2;
$navbar-dark: #f2f2f2;
$navbar-dark-bg: #383838;

$headings-color: #383838;
$body-color: #6b8994;
$text-muted: #a2b5be;

$border-color: #d6d6d6;

.btn.btn-primary {
    --bs-btn-color: #f2f2f2;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";